* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;


}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.content {
    background-color: #ffffff;
    display: block;
    float: none;
    overflow: hidden;
    width: 80vw;
    min-height: calc(100vh - 121px);
    margin: 0 auto 0;
    /*border-radius: 20px;*/
    text-align: justify;
}

.tabs-holder {
    width: calc(80vw - 10px);
    margin: 30px auto 0;
}

.inner-content {
    margin: 20px;
}

.content-title {
    margin-bottom: 15px;
}

.title-2 {
    margin-bottom: 15px;

    font-weight: 300;
    line-height: 1.2;
}

.title-1 {

    font-weight: 300;
    line-height: 1.2;
}
@media only screen and (max-width: 600px) {
    html {
        font-size: calc(12px + (22 - 12) * ((100vw - 375px) / (1024 - 375)));
    }
    .title-2{
        font-size: calc(20px + (40 - 20) * ((100vw - 375px) / (1024 - 375)));
    }
    .title-1{
        font-size: calc(26px + (56 - 26) * ((100vw - 375px) / (1024 - 375)));
    }
    .tab-button{
        font-size: calc(12px + (22 - 12) * ((100vw - 375px) / (1024 - 375)));
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    overflow-x: hidden;
    min-height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

.tabrow {
    background: transparent;
    text-align: center;
    list-style: none;
    margin: 3px 0 0 0;
    padding: 0 0 0 15px;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana, serif;
    position: relative;
}

.tabrow li {
    border: 1px solid #AAA;
    background: #ECECEC;
    /*background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    /*background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    /*background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    /*background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    /*background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    /*text-shadow: 0 1px #FFF;*/
    margin: 0 -5px;
    padding: 0 20px;
}

.tabrow a {
    color: #555;
    text-decoration: none;
}

.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}

.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}

.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #ECECEC;
}

.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #ECECEC;
}

.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}

.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}

li {
    float: left;
}

.tab-button {
    text-transform: uppercase;
    cursor: pointer;

}

.about-us {
    display: none;
}

.contacts {
    display: none;
}

.contact {
    font-weight: 300;
    font-size: 1.5rem;
}
