/* -------------------------- colors -------------------------------------- */
/* -------------------------- font-family -------------------------------------- */
/* -------------------------- Screen sizes -------------------------------------- */
/* -------- HEADER
---------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  z-index: 5; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px; }
  .header__logo {
    max-width: 200px;
    width: 100%;
    display: block; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu_responsive {
    display: none; }
    .menu_responsive .menu__item,
    .menu_responsive .menu__button {
      display: none; }
  .menu__toggle {
    display: none;
    margin-left: 30px;
    z-index: 100; }
    .menu__toggle .open-menu-btn.active img {
      display: none; }
    .menu__toggle .open-menu-btn.active .hide {
      display: block; }
  .menu__item {
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    margin-left: 30px;
    position: relative; }
    .menu__item:hover::before, .menu__item.active::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: -10px;
      border-bottom: 1px solid #fff;
      -webkit-transition: 0.2s all ease-in-out;
      -o-transition: 0.2s all ease-in-out;
      transition: 0.2s all ease-in-out; }
  .menu__button {
    letter-spacing: 0.025em;
    margin-left: 50px; }

@media all and (max-width: 812px) {
  .header .container {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px); }
  .header__logo {
    max-width: 145px; }
  .menu__item {
    margin-left: 25px; }
  .menu__button {
    margin-left: 40px; } }

@media all and (max-width: 767px) {
  .menu__item {
    display: none; }
  .menu__toggle {
    display: block; }
  .menu_responsive {
    display: none;
    position: fixed;
    background: #020204;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
    .menu_responsive.open {
      display: inline-block;
      padding: 90px 0 25px; }
      .menu_responsive.open .menu__item {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        font-family: "Montserrat-Light", sans-serif;
        margin-left: 10%;
        margin-bottom: 40px; }
  .header .container {
    max-width: 89%; }
  .header__logo {
    max-width: 125px; }
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

@media all and (max-width: 639px) {
  .header .container {
    max-width: 100%; }
  .header__logo {
    max-width: 105px; }
  .menu__button {
    display: none; } }
